/**
 * @name Import Fixes
 * @author tw1st3dr0d3nt
 * @description Temporarily fixes broken imports while waiting for the original to update.
*/
  
/* --------------- */
/* NormalizeForums */
/* --------------- */

#app-mount .background_c54132 {
	background-color: var(--background-primary);
}

/* Card */
.mainCard__0ec2c, .card_d4f6c7, .container__29699, .container_c68a2c {
	background-color: var(--background-secondary);
	border-radius: 8px;
}

.icon_ac2d0d {
	border-color: var(--background-secondary);
	background-color: var(--background-secondary);
}

.mainCard__0ec2c h3 {
	font-family: var(--font-display);
	font-size: 16px;
	line-height: 20px;
}

/* Form */
.mainCard__0ec2c.header-1Uy0p6:hover {
	border-color: transparent;
}

.mainCard__0ec2c form textarea, .mainCard__0ec2c form textarea::placeholder {
	font-size: 16px;
	line-height: 26px;
}

.mainCard__0ec2c .pill_f055c3 {
	background-color: var(--background-tertiary);
}

.mainCard__0ec2c .dots__44c48 {
	border-color: var(--background-secondary);
}

/* Sidebar */
.container__694a1 .container__38f29 h3 {
	font-family: var(--font-display);
	font-size: 28px;
	line-height: 32px;
}

.container__694a1 .container__38f29 .iconWrapper_a8f659 {
	margin-top: 0;
}

/* ------------- */
/* BearableInbox */
/* ------------- */

.recentMentionsPopout__40c54 .container__7c2c1,
.recentMentionsPopout__40c54 .channel__36a7e {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

.recentMentionsPopout__40c54 .container__7c2c1 {
    padding-right: unset;
}

.recentMentionsPopout__40c54 .messagesPopout__28784 {
    padding: 16px;
}

.recentMentionsPopout__40c54 .channel__36a7e {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}

.recentMentionsPopout__40c54 .channelHeader_ea0f89 {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.recentMentionsPopout__40c54 .messageContainer_cb3d47,
.recentMentionsPopout__40c54 .messages__1aaa1 {
    margin-left: unset;
    background: none;
    border-radius: unset;
}

/* header icon */
.recentMentionsPopout__40c54 .iconSizeMedium_bce5e3 {
    width: 24px;
    height: 24px;
}

.recentMentionsPopout__40c54 .iconActiveMedium__24185 {
    border-radius: 7px;
}

.recentMentionsPopout__40c54 .dmIcon__160f0,
.recentMentionsPopout__40c54 .guildIcon__6a5d6 {
    margin-right: 6px;
}

/* channel name section */
.recentMentionsPopout__40c54 .channelName_bac162 svg path {
    fill: var(--channel-icon);
}

.recentMentionsPopout__40c54 .channelName_bac162 svg {
    margin: 0 4px;
}

.recentMentionsPopout__40c54 .channelNameSection_db2326 {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}

.recentMentionsPopout__40c54 .heading-md-medium-2DVCeJ,
.recentMentionsPopout__40c54 .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}

.recentMentionsPopout__40c54 .subtext_ac081c,
.recentMentionsPopout__40c54 .subtextContainer__8b78d {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}

/* buttons */
.recentMentionsPopout__40c54 .container__7c2c1 .closeButton__58b98 {
    opacity: 0;
}

.recentMentionsPopout__40c54 .container__7c2c1:hover .closeButton__58b98 {
    opacity: 1;
}

.recentMentionsPopout__40c54 .tertiary_ad6d80:not(.disabled__4d064),
.recentMentionsPopout__40c54 .tertiary_ad6d80:hover:not(.disabled__4d064) {
    background: none;
}

.recentMentionsPopout__40c54 .collapseButton_f8165c:hover {
    color: var(--interactive-active);
}

.recentMentionsPopout__40c54 .collapseButton_f8165c {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}

.recentMentionsPopout__40c54 .messages__1aaa1>button:last-of-type {
    margin-left:auto;
}
