/**
 * @name Import Fixes
 * @author tw1st3dr0d3nt
 * @description Temporarily fixes broken imports while waiting for the original to update.
*/

/* CompactSidebarButtons */
nav[class^="e6b7699ce8339e1c-privateChannels"] ul[role="list"] {
    >div:nth-of-type(-n+5),
    >li:nth-of-type(-n+1) {
        display: inline-block;

        [class^="_20a53846fe2e8513-avatar"],
        [href^="/"] {
            margin: 0;
            padding: 5px;
        }

        [class^="_20a53846fe2e8513-name"],
        [class^="newBadge"] {
            display: none;
        }
    }

    >[class^="e6b7699ce8339e1c-friendsButtonContainer"] {
        width: calc(100% - 192px);
		float: left;

        [class^="-name"] {
            display: block !important;
        }
    }

	>:nth-child(2) {
        width: auto;
		float: none;

        [class^="-name"] {
            display: none !important;
        }
    }
}