/**
 * @name Decluttered
 * @author tw1st3dr0d3nt
 * @description Cleans up Discord's messy and cluttered UI.
*/

/* Help Button  */
[aria-label="Help"] {display: none !important;}

/* Better Settings context menu */
#user-settings-cog-Other_options,
#user-settings-cog-User_Settings--Family_Center,
#user-settings-cog-Billing_Settings
{display: none;}

/* Context menu  */
#user-context-vc-view-user-raw, #user-context-mention, #user-context-invite-to-server, #user-context-call, #user-context-note, #user-context-add-friend, #user-context-view-avatar, #message-mark-unread, #message-thread, #message-tts, #message-actions-tts, #message-add-reaction, #message-apps, #message-quickreact-0, #message-quickreact-1, #message-quickreact-2, #message-quickreact-3, .wrapper_a24e84,  #channel-context-vc-view-channel-raw, #message-vc-trans,
/* Guild Header popout */
#guild-header-popout-create-category, #guild-header-popout-create-channel, #guild-header-popout-create-event, #guild-header-popout-insights, #guild-header-popout-application-directory, #guild-header-popout-opt-in, #guild-header-popout-notifications, #guild-header-popout-change-nickname, #guild-header-popout-hide-muted-channels, #guild-header-popout-vc-server-profile,
/* Guild Context popout */
#guild-context-invite-people, #guild-context-change-nickname, #guild-context-create-channel, #guild-context-create-event, #guild-context-privacy, #guild-context-server-lockdown, #guild-context-vc-view-guild-raw,
/* server settings */
#guild-context-guild-settings--WIDGET, #guild-context-guild-settings--GUILD_TEMPLATES, #guild-context-guild-settings--VANITY_URL, #guild-context-guild-settings--INTEGRATIONS, #guild-context-guild-settings--APP_DIRECTORY, #guild-context-guild-settings--SAFETY, #guild-context-guild-settings--COMMUNITY, #guild-context-guild-settings--ONBOARDING, #guild-context-guild-settings--ANALYTICS, #guild-context-guild-settings--DISCOVERY, #guild-context-guild-settings--ROLE_SUBSCRIPTIONS, #guild-context-guild-settings--ROLE_SUBSCRIPTIONS_STORE_PAGE, #guild-context-guild-settings--GUILD_PREMIUM, #guild-context-guild-settings--COMMUNITY_WELCOME
{display: none !important;}

div[data-tab-id="merchandise"],
div[data-tab-id="Hypesquad Online"],
div[data-tab-id="Developer Options"],
div[data-tab-id="Hotspot Options"],
div[data-tab-id="Payment Flow Modals"],
div[data-tab-id="Payment Components"],
div[data-tab-id="Text Playground"],
div[data-tab-id="Text Component"],
div[data-tab-id="Profile Effects Preview Tool"],
div[data-tab-id="Design System"],
div[data-tab-id="Intl Testing"],
div[data-tab-id="Web Setting Tree Tool"],
div[data-tab-id="Revenue Storybook"],
[data-tab-id^="ANALYTICS"],
[data-tab-id^="DISCOVERY"],
[data-tab-id^="VANITY_URL"]
{display: none !important;}

/* Experimental Context menu */
div[id^="user-context-transfer-ownership"], [class^="separator_d90b3d"]{
    display: none;
} 

div[id^="channel-context-transfer-xbox"] {
    display: none;
}

/* Hide Create Invite button in voice */
div[aria-label="Create Invite"] { display: none !important; } 

/* Hide Show User Profile button in the toolbar */
.iconWrapper_e44302[aria-label="Show User Profile (Unavailable)"], div[aria-label="Show User Profile"] {
    display: none;
}

/* Settings Sidebar */
div[aria-label="Merch"], div[aria-label="Family Center"], div[class^="socialLinks_c44e94"] {
    display: none !important;
}

/* Hide Voice channel button */
.voiceChannelsButton_a08117 {
    display:none;
}

/* Plus button context menu in message bar */
#channel-attach-SLASH_COMMAND,
#channel-attach-THREAD
/* #channel-attach-activity */
{display: none !important;}

/* Chatbox buttons */
button[aria-label="Open GIF picker"], [aria-label="GIFピッカーを開く"],
button[aria-label="Open sticker picker"], [aria-label="スタンプピッカーを開く"], 
div[aria-label="Start Video Call"], [aria-label="ビデオ通話を開始"],
button[aria-label^="Turn On Camera"], [aria-label="カメラをオン"],
/* Show user Profile button */
div[aria-label="ユーザープロフィールを表示（利用できません）"], [aria-label="ユーザープロフィールを表示"]
{display: none !important;}

/* Hides annoying reaction suggestions in message popover  */
[class="reactionSuggestion_d1c246 hoverBarButton_e986d9 button_f7e168"] {
  display: none;
}

/* Hide Soundboard button in group voice calls */
[class="voiceEffectsActionBar_d7b7fd"], [class="leftDivider_d8c748"]
{display: none !important;}

/* Hide transfer to console button in group voice */
[aria-label="Transfer to Console"]
{display: none;}

/* Hide new Activity section in member list */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

/* Remove Onboarding member todos bar channel list */
[class="progressBarContainer_e31e8a"], [class="divider_e31e8a"] {
  display: none;
}
