/**
 * @name Decluttered
 * @author tw1st3dr0d3nt
 * @description Cleans up Discord's messy and cluttered UI.
*/

/*                        ##################
   ====================== # Context Menu's # ======================
                          ##################                        */

/* Hides "Copy Channel ID" in user context menus */
.c1e9c47c23f12ca3-menu.c1e9c47c23f12ca3-flexible .c1e9c47c23f12ca3-item.c1e9c47c23f12ca3-labelContainer.c1e9c47c23f12ca3-colorDefault[id^="user-context-devmode-copy-id"]:nth-child(2),

/* Hides quick react deadspace */
.f563df886a7377be-wrapper,

/* Hides separators in context menus entirely */
.c1e9c47c23f12ca3-separator,

/* Skins channel context menu */
#channel-context-clone-channel,
#channel-context-collapse-category,
#channel-context-create-text-channel,
#channel-context-create-voice-channel,
/* #channel-context-delete-channel, */
#channel-context-invite-people,
#channel-context-open-chat,
/* #channel-context-opt-in-favorite-channel, */
/* #channel-context-opt-into-channel, */
#channel-context-set-status,
#channel-context-vc-view-channel-raw,
[id^="channel-context-transfer-xbox"],

/* Skins group dm context menu */
#gdm-context-instant-invites,

/* Skins message context menu */
#message-actions-tts,           
#message-add-reaction,         
/* #message-apps, */
#message-guild-automod-add-selection,
#message-quickreact-0,
#message-quickreact-1,
#message-quickreact-2,
#message-quickreact-3,
/* #message-report, */
#message-search,
#message-search-google,
#message-thread,
#message-tts,

/* Skins message bar context menu */
#textarea-context-languages,
/* #textarea-context-submit-button, */
#textarea-context-suggestions,

/* Skins server context menu (LMB) */
#guild-header-popout-application-directory,
#guild-header-popout-change-nickname,
#guild-header-popout-create-category,
#guild-header-popout-create-channel,
#guild-header-popout-create-event,
#guild-header-popout-hide-muted-channels,
#guild-header-popout-insights,
#guild-header-popout-notifications,
#guild-header-popout-opt-in,
#guild-header-popout-perm-viewer-permissions,
#guild-header-popout-vc-server-profile,
#guild-header-popout-premium-subscribe,

/* Skins server context menu (RMB) */
#guild-context-change-nickname,
#guild-context-create-channel,
#guild-context-create-event,
#guild-context-guild-settings--ANALYTICS,
#guild-context-guild-settings--APP_DIRECTORY,
#guild-context-guild-settings--COMMUNITY,
#guild-context-guild-settings--COMMUNITY_WELCOME,
#guild-context-guild-settings--DISCOVERY,
#guild-context-guild-settings--GUILD_PREMIUM,
#guild-context-guild-settings--GUILD_TEMPLATES,
#guild-context-guild-settings--INTEGRATIONS,
#guild-context-guild-settings--ONBOARDING,
#guild-context-guild-settings--ROLE_SUBSCRIPTIONS,
#guild-context-guild-settings--SAFETY,
#guild-context-guild-settings--VANITY_URL,
#guild-context-guild-settings--WIDGET,
#guild-context-invite-people,
#guild-context-privacy,
#guild-context-server-lockdown,
#guild-context-vc-view-guild-raw,

/* Skins user context menu */
#user-context-add-friend,     
/* #user-context-add-friend-nickname, */
/* #user-context-edit-friend-nickname, */
/* #user-context-apps, */
#user-context-block,
#user-context-call,            
#user-context-focus-video,
#user-context-invite-to-join,
#user-context-invite-to-server,
#user-context-join,
#user-context-mention,
#user-context-mod-view,
#user-context-note,       
#user-context-remove-friend,
/* #user-context-timeout, */
#user-context-vc-view-user-raw,
#user-context-view-avatar,
#user-context-view-stream-preview,
#user-context-voice-move,
#user-context-watch-stream,
[id^="user-context-transfer-ownership"],

/* Skins user settings context menu */ 
#user-settings-cog-Accessibility,
#user-settings-cog-Activity_Privacy,
#user-settings-cog-Appearance, 
#user-settings-cog-Advanced,
#user-settings-cog-changelog, 
#user-settings-cog-Developer_Options, 
#user-settings-cog-Dismissible_Content_Options, 
#user-settings-cog-Experiments, 
#user-settings-cog-Family_Center, 
#user-settings-cog-Friend_Requests, 
#user-settings-cog-Game_Activity, 
#user-settings-cog-Hotspot_Options, 
#user-settings-cog-Hypesquad_Online, 
#user-settings-cog-Keybinds, 
#user-settings-cog-Language,
#user-settings-cog-merchandise,
#user-settings-cog-Notifications, 
#user-settings-cog-Overlay, 
#user-settings-cog-Payment_Flow_Modals, 
#user-settings-cog-Settings_Clips,
#user-settings-cog-Streamer_Mode,
#user-settings-cog-Text___Images,
#user-settings-cog-Text_Component, 
#user-settings-cog-Text_Playground, 
#user-settings-cog-VencordCloud, 
#user-settings-cog-VencordPlugins, 
#user-settings-cog-VencordSettings, 
#user-settings-cog-VencordSettingsSync,
#user-settings-cog-VencordThemes, 
#user-settings-cog-VencordUpdater, 
#user-settings-cog-Windows,

/* Better Settings context menu */
#user-settings-cog-Other_options,
#user-settings-cog-User_Settings--Family_Center,
#user-settings-cog-Billing_Settings
{display: none !important;}


/*                        ##################
   ====================== #    Settings    # ======================
                          ##################                        */

/* Skins user settings. Some of these will not work without the Theme Attributes plugin enabled */
[data-settings-sidebar-item="family_center_panel"]
{display: none !important;}

/* Hides Billing section entirely */
[class="_409aa1aeee28d5f7-section"]:is([aria-label="Billing Settings"],[aria-label="請求設定"])
{display: none;}

/* Skins Server Settings Sidebar */
[data-tab-id="APP_DIRECTORY"]
{display: none !important;}

/* Discord Version and other client information in User Settings */
[class="_2debea61131de3de-clickable _2debea61131de3de-compact"], [class="_7aac80f6cab00c3b-links"] {display: none !important;}


/*                        ##################
   ====================== # Tabs & Buttons # ====================== 
                          ##################                        */

/* Remove Close button in DMs */
._972a0d22c8afa7f0-closeIcon, ._972a0d22c8afa7f0-favoriteIcon {
    display: none;
}

/* Hides "Create Invite" button next to guild name */
div[class*="f37cb1984c371ee5-inviteButton"] {display: none !important;}

/* Hides "Help" button in home */
div[aria-label="Help"], [aria-label="ヘルプ"] {display: none !important;}

/* Skins message bar */
button[aria-label="Open GIF picker"], [aria-label="GIFピッカーを開く"],
button[aria-label="Open sticker picker"], [aria-label="スタンプピッカーを開く"],
{display: none;}

/* Hide Gift button */
[class="c0c49a3e5c8626ac-container"]:has([aria-label="Send a gift"], [aria-label="ギフトを贈る"]) {display: none !important;}

/* Hide Soundboard button in group voice calls */
[class="_681988f3540a79af-voiceEffectsActionBar"], [class="_681988f3540a79af-divider"]
{display: none !important;}

/* Hide transfer to console button in group voice */
[aria-label="Transfer to Console"], [aria-label="コンソール本体に転送"],
[class="_681988f3540a79af-divider"] /* remove wasted space */
{display: none;}

/* Video Call Toolbar Button */
._9293f6b2fc12398a-toolbar [aria-label="Start Video Call"], [aria-label="ビデオ通話を開始"]
{display: none !important;}

/* Remove Onboarding member todos bar channel list */
[class="baf5304d07bec717-progressBarContainer"], [class="baf5304d07bec717-divider"] {
  display: none;
}

/* Hide duplicate guild name in center of titlebar */
[class="c38106a3f0c3ca76-title"] {display: none;}

/* Hide reaction suggestions in message popover */
[class^=c19a557985eb7793-buttonContainer] > [class^=_5126c0cd07f243a0-buttons] {
    > [class^=_5126c0cd07f243a0-buttonsInner] {
        border: unset;
        padding: unset;
        box-shadow: var(--shadow-low) !important;
        background-color: var(--background-base-low);
        border-radius: 4px;
        > [class^=f84418acfdbdfe54-separator] { display: none; }
        > span {
            > [class^=-hoverBarButton] {
                padding: unset;
                height: 32px;
                width: 32px;
                border-radius: unset;
                &:hover > [class^=icon] { transform: unset; }
            }
            &:has(~ [class^=f84418acfdbdfe54-separator]) { display: none; }
            &:first-of-type ,[class^=f84418acfdbdfe54-separator] + & {
                > [class^=hoverBarButton] {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            &:nth-last-of-type(2) > [class^=f84418acfdbdfe54-hoverBarButton] {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}
/* Clean up duplicate redundant buttons in chat input area */
._740174f3d6a2c8fe-stickerButton, [class="_740174f3d6a2c8fe-button _24af7f4d0326ba4f-button"] {
    display: none !important;
}

/* Hide Checkpoint Button */
[class="_85643a485899904b-button _9293f6b2fc12398a-iconWrapper _9293f6b2fc12398a-clickable"]:is([aria-label="Checkpoint"]) {display: none!important;}