.mentioned__58017 {
    background: none;
  }
  .message__80c10:hover {
    background-color: var(--background-message-hover) !important;
  }
  .messageContent__21e69, .compact__54ecc .contents_f41bb2 {
    position: unset !important;
  }
  .mention, .roleMention__02469 {
    position: unset;
    filter: none;
  }
  .hasReply_febd50.mentioned__58017:not(:has(.roleMention__02469[style])):before, .mentioned__58017:before, .mentioned__58017 .roleMention__02469:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--info-warning-foreground);
    filter: saturate(var(--saturation-factor,1));
  }
  .hasReply_febd50.mentioned__58017:not(:has(.roleMention__02469[style])):after, .mentioned__58017:after, .mentioned__58017 .roleMention__02469:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-mentioned);
    z-index: -1;
    filter: saturate(var(--saturation-factor,1));
  }
  .roleMention__02469[style]:before {
    background-color: currentColor;
  }
  .roleMention__02469[style]:after {
    background: currentColor;
    opacity: 0.1;
  }
  .roleMention__02469 ~ [class*="ention"]:before, .roleMention__02469 ~ [class*="ention"].roleMention__02469:after, .repliedMessage_e2bf4a [class*="ention"]:before, .repliedMessage_e2bf4a [class*="ention"]:after, .hasReply_febd50 .mention:before, .hasReply_febd50 .mention:after, .messageContent__21e69:has(.roleMention__02469) .mention:before, .messageContent__21e69:has(.roleMention__02469) .mention:after, .mentioned__58017:has([class*="ention"]):before, .mentioned__58017:has([class*="ention"]):after {
    content: unset !important;
  }