.mentioned_d5deea {
    background: none;
  }
  .message_d5deea:hover {
    background-color: var(--background-message-hover) !important;
  }
  .messageContent_ec86aa, .compact_ec86aa .contents_ec86aa {
    position: unset !important;
  }
  .mention, .roleMention_d6076c {
    position: unset;
    filter: none;
  }
  .hasReply_ec86aa.mentioned_d5deea:not(:has(.roleMention_d6076c[style])):before, .mentioned_d5deea:before, .mentioned_d5deea .roleMention_d6076c:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--info-warning-foreground);
    filter: saturate(var(--saturation-factor,1));
  }
  .hasReply_ec86aa.mentioned_d5deea:not(:has(.roleMention_d6076c[style])):after, .mentioned_d5deea:after, .mentioned_d5deea .roleMention_d6076c:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-mentioned);
    z-index: -1;
    filter: saturate(var(--saturation-factor,1));
  }
  .roleMention_d6076c[style]:before {
    background-color: currentColor;
  }
  .roleMention_d6076c[style]:after {
    background: currentColor;
    opacity: 0.1;
  }
  .roleMention_d6076c ~ [class*="ention"]:before, .roleMention_d6076c ~ [class*="ention"].roleMention_d6076c:after, .repliedMessage_ec86aa [class*="ention"]:before, .repliedMessage_ec86aa [class*="ention"]:after, .hasReply_ec86aa .mention:before, .hasReply_ec86aa .mention:after, .messageContent_ec86aa:has(.roleMention_d6076c) .mention:before, .messageContent_ec86aa:has(.roleMention_d6076c) .mention:after, .mentioned_d5deea:has([class*="ention"]):before, .mentioned_d5deea:has([class*="ention"]):after {
    content: unset !important;
  }
