/**
 * @name Nitro No More
 * @author tw1st3dr0d3nt
 * @description Removes Discord Nitro upsells and bloat.
*/

/* hide a few more common nitro upsells */
.channel__0aef5:has([data-list-item-id$="___nitro"]), .channel__0aef5:has([data-list-item-id$="___shop"]), /*Shop and nitro private channels*/
.containerWrapper-1kh54c, /*Userpopout nitro upsell*/
.premiumTab_ad0913, /*Nitro Settings Tab*/
.premiumFeatureBorder__6ac04, /*Premium settings feature upsell cards.*/
.container__686c4:has(.ctaButton__0d23d), /*Shop advertisement*/ 
button[class^="shinyButton"] /* Shiny nitro button */ {
    display: none;
}

/* Better Settings Billing Section */
#user-settings-cog-Billing_Settings {display:none;}

/* Send A Gift button */
button[aria-label="Send a gift"] { display: none; }

/* Per server avatar */
div[class^="upsellOverlayContainer__9580e"] {display: none}

/* Hide message size upsells */
div[class^="characterCount"] > div[class*=" upsell_"] { display: none; }

/* Hide Go Live quality upsells */
button[class*=" selectorButtonPremiumRequired"] { display: none; }
div[class^="upsellBanner_"] { display: none; }

/* Hide ad in profile banners */
div[class^="premiumIconWrapper"] { display: none; }

/* Removes nitro promotion when you press on disabled emojis and stickers */
.premiumPromo__9e1ca .premiumPromoTitle_abafab{
    font-size: 0;
}
.premiumPromo__9e1ca{
    display: none;
}
.premiumUpsell_aae531{
    display:none;
}
/* Stickers */
.emptyState__7a164 .header__7c79c{
    font-size: 0px;
}
.emptyState__7a164 .header__7c79c:before{
    content:'Hello, You need nitro to use custom stickers but its useless so dont buy nitro!';
    font-size: 24px;
}
.premiumLabel__68f78 {
    color: var(--color-muted);
}
.upsellWrapper_c600a6{
    display:none;
}

/* Hide your server is waiting to upload stickers in picker */
.upsell__780f6, .emptyGuildUpsell__10612{
    display: none;
}

/* Hide billing section in user settings */
.layer_f7d46a  > .standardSidebarView__12528 .side_b4b3f6 > div:nth-of-type(n+11):nth-of-type(-n+17),
#user-settings-cog > .scroller__8f066 > .item__183e8:nth-of-type(n+10):nth-of-type(-n+16) {
  display: none;
}

/* Hide boosted server emojis Upsell */
.banner__01dd2{
    display:none;
}

/* Remove grayscale on disabled stickers */
.stickerNode__1d58c.stickerUnsendable__6d4dd {
    filter: grayscale(0);
}

/* Hide Super Reaction Upsells */
div[class*="burstToggle__"]{
    display: none;
}
.reaction__4a43f[style*="background"] {
    pointer-events: none;
}

/* Hide Profile Effects */
[class*="profileEffects_"] {display: none;}

/* Hide unlock banner upsell in profile customization */
[class*="bannerNitroUpsell__"] {display: none;}

/* Server boosts */
/* Display settings in Overview */
div[id="overview-tab"] > div > div + div > div:last-child{ display: none; }
/* Boost progress bar */
ul[aria-label="Channels"] > div + div + div[class^="container_"] { display: none; }
/* Boost in chat bar */
button[aria-label="Boost this server"] { display: none; }
