/**
 * @name Nitro No More
 * @author tw1st3dr0d3nt
 * @description Removes Discord Nitro upsells and bloat.
*/

[class^=channel_] > div > [href="/store"],
[class^=channel_] > div > [href="/shop"],
[class^=channelTextArea] [class^=buttons_] > button,
[class^=upsellVisible_],
[class^=premiumIconWrapper],
[class^=characterCount_] [class*=upsell_],
[class^=emojiSection_] [class*=shinyButton_],
[class*=tryItOutSection_],
[class^=premiumIcon],
[class^=customizationSection_] + [class^=upsellContainer_],
[class^=customizationSection_][class*=disabled_],
[class*=bannerNitroUpsell_],
[class^=imageUploaderHint_],
[class^=imagePickerContainer_] > [class^=optionBox_]:nth-child(2),
[class^="upsellContainer_"],
[class*=" selectorButtonPremiumRequired"], [class^="upsellBanner_"] /* Go Live quality upsells */ {
  display: none !important;
}

[class^=premiumTab],
[class^=subscribeAction],
[class^=upsellBanner],
[class^=userPopoutInner] > [class^=wrapper] > [class^=banner],
[class^=userPopoutInner] > [class^=containerWrapper],
[class*=premiumFeatureBannerBackground], [class^=container_]:has([class^=artContainer_]),
[class*=premiumFeatureBorder], [class^=customizationSection__]:has([class^=nitroWheel__]),
[class^=userPanelInner] > [class*=inSidebar],
[class^=messageLengthUpsellContainer_],
a[href*="/snowsgiving"], [class^=customizationSection] > [class^=limitedFeatureBorder],
[class*=botTagRemix_],
[class^=nitroFileSizeUpsell__],
[class^=upsellOverlayContainer_],
[class*=sansAttachButton] > [class^=buttons] > [class^=container],
[id^=popout] [class*=contentPremium],
[class^=birthdayFeatureBorder],
[class^=nitroAuthorBadgeContainer_],
[class^=container_]:has([class^=falloweenArtContainer_]),
[class^=sidebar] > [class^=container] > [class^=wrapper] > [class^=container] > [class^=content],
[class^=themeEditor],
[class*=cozyMessage] > [class*=buttonContainer] > [class*=buttons] > [class*=wrapper] > [aria-label*="Add Super Reaction"],
[id^=popout] [class*=colorPremiumGradient],
#message [class*=colorPremiumGradient],
[class^=notAppAsidePanel__] > [class^=layerContainer_] > [id^=popout_] > [class^=animatorRight__] > div:has([class*=artInline_]),
[class^=notAppAsidePanel__] > [class^=layerContainer_] > [id^=popout_] > [class^=animatorBottom_] > div:has(.image_fcfd9f),
[class^=burstReactionTooltipPrompt],
#emoji-picker-tab-panel [class^=burstToggle],
[aria-label="Add Super Reaction"],
[aria-label=GET_PREMIUM],
[class^=emojiPickerListWrapper_] [class^=upsellContainer__],
button:has([class*=premiumSubscribeButton]),
[class*=autocompleteInner__]:has([class*=premiumHeader_]) [class*=nitroTopDividerContainer__], [class*=autocompleteInner__]:has([class*=premiumHeader_]) [class*=premiumHeader_], [class*=autocompleteInner__]:has([class*=premiumHeader_]) [class*=premiumHeader_] ~ [class*=premiumEmoji__],
[class^=giftButtonContainer__],
[class^=accountProfilePopoutWrapper_] > [class^=popoutContainer__] > [class^=container__],
[class^=side_] > [class^=header_] + [class^=premiumTab] + [class^=item_] + [class^=item_] + [class^=item_] + [class^=item_],
#emoji-picker-tab-panel > [class*=emojiPickerHeader]:first-child > [class^=tooltipContainer]:nth-child(2) {
  display: none !important;
}

[class^=emojiSection] > div > div > div > a {
  color: inherit;
  pointer-events: none;
}

[class^=reactionInner][aria-label*="burst react"] {
  pointer-events: none;
}

[class*=categorySectionNitroLocked_] {
  background-color: unset !important;
}

[class^=userPopoutInner] > [class^=containerWrapper] {
  top: 0 !important;
}

[class="nitroTopDividerContainer_e8f337"], [class="categoryItemLockIconContainer_bfabc4"], [class="emojiLockIconContainer_bcf389"] {display: none !important;}

/* Hide billing section in user settings */
.layer_d4b6c5  > .standardSidebarView_c25c6d .side_a0 > div:nth-of-type(n+12):nth-of-type(-n+18),
#user-settings-cog > .scroller_d90b3d > .item_d90b3d:nth-of-type(n+16):nth-of-type(-n+20) {
  display: none;
}

/* Removes nitro promotion when you press on disabled emojis and stickers */
[class^="premiumPromo"], [class^="upsellWrapper_b8772d"] {
  display: none;
}
/* Remove grayscale on disabled stickers */
[class^="stickerNode_a708c4 stickerUnsendable"] {
  filter: grayscale(0);
}

/* Nitro Upsell in forums message bar */
.premium_d6170c {display: none;}

/* Hide your server is waiting to upload stickers in picker */
/* [class="upsell_b6ac1a emptyGuildUpsell_de4721"] {display: none;} */

/* hides super reactions */
[class^=reaction_]:has(div > [class^="burstGlow"]) {
  display: none;
}

/* Removes Super Reaction Animations On Hover */
.hideEmoji_ec6b19 {
  opacity: 1;
}
.effect_e5651 svg,
.effect_e5651 {
  transform: none !important;
}
.effect_e5651 g {
  clip-path: none !important;
  transform: none;
  opacity: 0;
}
.reaction_ec6b19.shakeReaction_ec6b19 {
  animation: none !important;
}
