/* DaBluLite's CSS Snippets */
/* @import url(//dablulite.github.io/css-snippets/NitroThemesFix/import.css); */
@import url(//dablulite.github.io/css-snippets/UserReimagined/import.css); 
@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);
@import url("https://dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css");

/* Disease's Css Snippets */
@import url("https://syndishanx.github.io/Discord-Dark/Imports/BearableInbox.css");
@import url("https://syndishanx.github.io/Discord-Dark/Imports/NormalizedForums.css");

/* Tw1st3dR0d3nt's Css Snippets */
@import url(//tw1st3dr0d3nt.github.io/css-snippets/ColoredRoleMentions/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Decluttered/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Enhancements/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/NitroNoMore/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Roundcord/import.css);


/* --------- */
/* UI Tweaks */
/* --------- */

/* Onboarding Theme Fixes --Darker background-- */
.container__10dc7, .header__60bef, .scrollerContainer_bf5dbd .container__7590f, .theme-dark .scrollerContainer_bf5dbd, .theme-dark .emptyPage__3e15d, .theme-dark .container__7590f  {
  background-color: var(--home-background) !important;
}
.theme-dark .innerHeader_afca2f:after {
    display: none;
}

/* Remove close dm button on side */
@media (hover: hover) {
    .channel_c21703:focus-within .closeButton__8f1fd, .channel_c21703:hover .closeButton__8f1fd {
        display: none;
} 

/* Animated Pings */
.numberBadge__50328 {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
   0% {
     transform: rotate(-12deg); 
    }
   50% {
     transform: rotate(12deg) scale(1.2); 
    }
   100% {
     transform: rotate(-10deg);   
    }
}

/* Hide New Message Stuff When Unfocused */
/* Red New Message Bar */
html:not(.app-focused) .isUnread__6f880 {
    border-color: transparent
}
.isUnread__6f880 {
    transition: .15s
}
/* New Message Bar */
html:not(.app-focused) .newMessagesBar__8b6d7 {
    opacity: 0
}
.newMessagesBar__8b6d7 {
    transition: .15s
}

/* Hide new messages bar until hovered */
.messagesWrapper_ea2b0b {
    overflow: hidden;
}
.newMessagesBar__8b6d7 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.newMessagesBar__8b6d7::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}
.newMessagesBar__8b6d7:hover {
    top: -12px;
}


/* ------------------ */
/* General annoyances */
/* ------------------ */

/* Bugfix laggy server scroll */
div[data-dnd-name] > div[class^="wrapper"] svg { overflow: hidden; }

/* disable discord's laggy settings animation */
.layer_e552e0 {transform: none !important;opacity: 1 !important;}
.layers_a40797>.layer_e552e0.animating__64b42 *,
.layers_a40797>.layer_e552e0.animating__64b42 {pointer-events: auto !important;will-change: unset;}
.animating__64b42.stop-animations {z-index: 100 !important;}

/* Removes Super Reaction Animations On Hover */
.hideEmoji__13ca4 {
  opacity: 1;
}
.effect__50f2a svg {
  transform: none !important;
}
.effect__50f2a g {
  clip-path: none !important;
  transform: none;
  opacity: 0;
}
