/* Tw1st3dR0d3nt's Imports */
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Decluttered/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Enhancements/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Nitroless/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/SettingsIcons/main.min.css);

/* Other Imports */
@import url(//dablulite.github.io/css-snippets/QuickSwitchV2/import.css);
@import url(//davart154.github.io/Themes/Snippets/Audio%20Refresh/AudioRefreshSource.css);
@import url(//davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(//davart154.github.io/Themes/Snippets/Chat%20Bar%20Context%20Menu/ChatContextMenuSource.css);
@import url(//smolalli.github.io/Themes/Snippets/removechatbuttons.css);
@import url("//raw.githubusercontent.com/CeaAPI/vencord-snippets/main/CompactSidebarButtons/CompactSidebarButtons.css");

/* Remove Chat Buttons snippet */
:root {
    /* Chat Area */
    --gift: none;
    --gif: none;
    --sticker: none;
    /* --emoji: none; */
    /* --upload: none; */

    /* Channels Sidebar */
    --invite: none;
    /* --guide: none; */
    /* --channels: none; */
    /* --browse: none; */
    /* --members: none; */
    --server-shop: none;
    /* --events: none; */
    --boost: none; /* Boost Bar */

    /* DM Area */
    /* --friends: none; */
    --store: none; /* Nitro store */
    /* --shop: none;  */
}

/* Replace Vencord settings donation banner image */
img[role="presentation"] {
  content: url(https://i.imgur.com/SCW56GW.png) !important;
  transform: rotate(0deg) !important;
}

/* Discord Version and other client information in User Settings */
[class="info__2debe"] {display: none;}

/* Hide Minimum System Requirements warning for Clips */
.warning_e3f97f {display: none;}

/* Fix DM/Group call profiles being misaligned */
[class*=voiceCallWrapper_] {
    margin: auto;
}
