/* Tw1st3dR0d3nt's Imports */
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Decluttered/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Enhancements/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Nitroless/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/SettingsIcons/main.min.css);

/* Other Imports */
@import url(//davart154.github.io/Themes/Snippets/Audio%20Refresh/AudioRefreshSource.css);
@import url(//davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(//raw.githubusercontent.com/CeaAPI/vencord-snippets/main/CompactSidebarButtons/CompactSidebarButtons.css);

/* Replace Vencord settings donation banner image */
img[role="presentation"] {
  content: url(https://i.imgur.com/SCW56GW.png) !important;
  transform: rotate(0deg) !important;
}

/* Discord Version and other client information in User Settings */
[class="info__2debe"] {display: none;}

/* Hide Minimum System Requirements warning for Clips */
.warning_e3f97f {display: none;}
