/* Tw1st3dR0d3nt's Imports */
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Declutter/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Enhancer/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/SettingsIcons/main.min.css);

/* Other Imports */
@import url(//davart154.github.io/Themes/Snippets/Audio%20Refresh/AudioRefreshSource.css);
@import url(//davart154.github.io/Themes/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css);
@import url(//davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(//raw.githubusercontent.com/CeaAPI/vencord-snippets/main/CompactSidebarButtons/CompactSidebarButtons.css);

/* Server compact buttons */
    .scroller__629e4 {

        &>.content_d125d2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: space-evenly;

            &>div[style="height: 84px;"]:not([class]), /* banner */
            &>div[style="height: 0px;"]:not([class]) { /* no banner */
                width: 100%;

                &+div[style="height: 8px;"]:not([class]), /* compact */
                &+div[style="height: 12px;"]:not([class]) { /* default & spacious */
                    width: 100%;

                    /* 1 button */
                    &+li:not([class]):has(+.sectionDivider__629e4) {
                        width: 100%;

                        &>.wrapper__2ea32 {
                            margin-inline-start: var(--space-xs) !important;

                            &>.basicChannelRowLink__2ea32 {
                                padding: var(--space-xxs) var(--space-xs);
                                padding-inline: var(--space-xs) !important;

                                &>.content__65844 {
                                    &>.name__2ea32 { 
                                        display: unset; 
                                    }

                                    &>.textBadge__2b1f5 {
                                        position: unset;
                                        transform: none;
                                    }
                                }
                            }
                        }
                    }

                    /* boost bar */
                    &+.container__0d0f9 {
                        width: 100%;

                        /* 1 button */
                        &+li:not([class]):has(+.sectionDivider__629e4) {
                            width: 100%;

                            &>.wrapper__2ea32 {
                                margin-inline-start: var(--space-xs) !important;

                                &>.basicChannelRowLink__2ea32 {
                                    padding: var(--space-xxs) var(--space-xs);
                                    padding-inline: var(--space-xs) !important;

                                    &>.content__65844 {
                                        &>.name__2ea32 { 
                                            display: unset; 
                                        }

                                        &>.textBadge__2b1f5 {
                                            position: unset;
                                            transform: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &~.sectionDivider__629e4 {
                        &+div[style="height: 8px;"]:not([class]), /* compact */
                        &+div[style="height: 12px;"]:not([class]) { /* default & spacious */
                            width: 100%;
                        }
                    }
                }
            }

            /* get started bar */
            &>li:not([class]):has(>.progressBarContainer_baf530) {
                width: 100%;

                &>.progressBarContainer_baf530 {
                    width: 100%;
                    margin: 0 5px;
                    max-width: calc(240px - 25px);
                }

                &>.divider_baf530 {
                    width: 100%;
                    margin: 15px 15px 3px;
                    max-width: calc(240px - 25px);
                }
            }

            &>li:not([class]) {
                width: fit-content;

                &>.wrapper__2ea32 {
                    margin: 0;

                    &>.unread__2ea32 { 
                        display: none; 
                    }

                    &>.basicChannelRowLink__2ea32 {
                        padding: 5px;

                        &>.content__65844 {
                            justify-content: center;

                            &>.name__2ea32 { 
                                display: none; 
                            }

                            &>.numberBadge__2ea32 {
                                position: absolute;
                                left: 17.5px;
                                bottom: 0;
                                transform: scale(0.7);
                                background-color: var(--status-danger);
                            }

                            &>.textBadge__2b1f5 {
                                position: absolute;
                                bottom: 0;
                                transform: scale(0.7);
                            }
                        }
                    }
                }
            }

            &>div:not([class]) {

                &>li:not([class])>.wrapper__2ea32 {
                    margin: 0;

                    &>.basicChannelRowLink__2ea32 {
                        padding: 5px;

                        &>.content__65844>.name__2ea32 { 
                            display: none; 
                        }
                    }
                }
            }

            /* fix elements width */

            &>.containerDefault__29444, /* category */
            &>.containerDefault_c69b6d, /* channel */
            &>.container__5b40b { /* thread */
                width: stretch; 
            }
        }
}