/* Tw1st3dR0d3nt's Imports */
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Decluttered/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Enhancements/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/Nitroless/import.css);
@import url(//tw1st3dr0d3nt.github.io/css-snippets/SettingsIcons/main.min.css);

/* Other Imports */
@import url(//davart154.github.io/Themes/Snippets/Audio%20Refresh/AudioRefreshSource.css);
@import url(//davart154.github.io/Themes/Snippets/Colored%20Mentions/ColoredMentionsSource.css);
@import url(//raw.githubusercontent.com/CeaAPI/vencord-snippets/main/CompactSidebarButtons/CompactSidebarButtons.css);

/* Hide Minimum System Requirements warning for Clips */
.warning_e3f97f {display: none;}

/* Hide Checkpoint Button */
[class="button__85643 iconWrapper__9293f clickable__9293f"]:is([aria-label="Checkpoint"]) {display: none!important;}
