/**
 * @name Roundcord
 * @author tw1st3dr0d3nt
 * @description Rounds various UI elements in discord for a more modern feel.
*/

/* Rounded Borders */
/* Spotify Status Images */
.assetsLargeImageSpotify__3df69{
  border-radius: 8px;
}
/* message field */
.channelTextArea_c2094b {
  border-radius: 50px;
}
.scrollableContainer_ff917f {
  border-radius: 26px;
  padding: 4px 6px;
}
/* hover and selected */
.selected__7f4cb .layout_bb8e67 {
  box-shadow: var(--08dpShadow);
}  
.interactive__3e804 {
  border-radius: 50px;
}
[class*="side"] > [class*="item"], [class*="side"] > [class*="item"]:hover{
  border-radius: 50px;
}
/* channel/memberlist */
.modeSelected__473f1 .link_ddbb36, .modeSelected__473f1:hover,  .wrapper__612a5, .link_ddbb36, .layout_bb8e67 {
  border-radius: 50px !important;
}
/* Corners Servers/Channels/Chat Box */
.content__76dcf>.sidebar_e031be,.chat__52833,.container_bd15da{
  margin: 10px 10px 10px 0;
  border-radius: 15px;
}
/* Context Menu */
.menu__088f7, .item__183e8 { 
  border-radius: 15px; 
}
/* Userarea buttons */
.button_b82d53[aria-label="Start an Activity"],
.button_b82d53[aria-label="Open Soundboard"] {
  border-radius: 50px;
}
.button_b82d53[aria-label="Turn On Camera"] {
 border-radius: 50px;
}
.button_b82d53[aria-label="Share Your Screen"] {
  border-radius: 50px;
}

/* SImple channel/settings/dms/member list hover animations */
.wrapper__612a5 .link_ddbb36 /* channels */,
.container_a48b21 /* members */,
.channel__0aef5 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
  transition: margin-left 0.2s ease;
}
.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
  margin-left: 10px;
}
.container_a48b21:hover,
.channel__0aef5:hover {
  margin-left: 18px;
}

/* Voice channel participants hover */
[class^="content__"]:hover {border-radius: 50px;}
