/**
 * @name Nitroless
 * @author tw1st3dr0d3nt
 * @description Removes Discord Nitro upsells and bloat.
*/

/*                        ##################
   ====================== #   Nitroless%   # ====================== 
                          ##################                        */

/* Emoji Picker Upsells. If your using a 'free emojis' plugin or similiar you might not need these. */
[class^="premiumPromo"],                                     /* Hides a popup when pressing disabled emojis     */
[class^="upsellWrapper_"],                                   /* Hides a popup when pressing disabled stickers   */
[class^=emojiPickerListWrapper_] [class^=upsellContainer_],  /* Hides a popup when scrolling emojis             */
[class^="categoryItemLockIconContainer"],                    /* Hides lock icon on servers                      */
[class^="emojiLockIconContainer"]                            /* Hides lock icon on emojis (visible in servers)  */
{display: none !important;} 

[class^="nitroTopDividerContainer"]                          /* Hides the top of the garish pink nitro overlay  */
{display: none;}                                            

.categorySection_a3bc57.categorySectionNitroLocked_a3bc57    /* Hides body of the nitro overlay                 */
{background-color: unset !important; } 

/* Hides "Boost Server" button in server settings emoji tab */
.banner_ad4cb5 {display: none;}

/* Hides "Get Nitro" button when pressing on a nitro emoji in chat */
[class^=emojiSection_] [class*=shinyButton_]
{ display: none !important; }

/* Hides "Try out Nitro!" section in user settings profiles tab */
[class*=tryItOutSection_] {display: none;}

/* Hide Floating Nitro Upsell in Profile Customiztion */
.floatingNitroUpsell_bc425c{display: none !important;}

/* Hides "Unlock with Nitro" button when hovering a super reaction */
[class^="burstReactionTooltipPrompt_"] {display: none;}

/* Hide Super Reactions button toggle in reaction picker */
div[class="burstToggle_c6ee36"]{display: none!important;}

/* Hides boost progress bar in servers */
ul[aria-label="Channels"] > div + div + div[class^="container_"] {display: none;}

/* Hides message size upsell in message bar */
.root_d6170c.upsell_b82429,

/* Hides nitro icon in profile banners */
div[class^="premiumIconWrapper"] {display: none;}

/* Hides nitro tab in Home */
a[data-list-item-id$="___nitro"] {display: none;}

/* Hides nitro upsell in user settings server profiles tab */
[class^=upsellOverlayContainer] {display: none;}

/* Hides shop tab in Home */
[class^=channel_] > div > [href="/shop"] {display: none;}

/* Hides shop upsell in user settings profiles tab */
[class*=premiumFeatureBannerBackground], [class^=container_]:has([class^=artContainer_]) {display: none;}
[class^="profileBadges"][class^="profileBadges"] {flex: none;}

/* Makes super reactions look like normal ones */
[class*="reaction"][class*="reactionMe"] {border-color: var(--brand-experiment) !important; background-color: var(--brand-experiment-15a) !important;}
[class*="reactionCount"] {color: var(--interactive-normal) !important;}
[class*="effectsWrapper"] {display: none;}
[class^="burstGlow"], [class*="reaction_"], [class*="reaction"][class*="shakeReaction"] {
    box-shadow: none !Important; 
    background: var(--background-secondary) !important;
    animation: none;
}
[class*="hideEmoji"] {opacity: 1;}

/* Hides Billing section entirely */
.layer_d4b6c5  > .standardSidebarView_c25c6d .side_a0 > div:nth-of-type(n+12):nth-of-type(-n+18),
#user-settings-cog > .scroller_d90b3d > .item_d90b3d:nth-of-type(n+10):nth-of-type(-n+16) {display: none;}
