/**
 * @name Nitroless
 * @author tw1st3dr0d3nt
 * @description Removes Discord Nitro upsells and bloat.
*/

/*                        ##################
   ====================== #   Nitroless%   # ====================== 
                          ##################                        */

/* Hides "Boost Server" button in server settings emoji tab */
[class="c69b6db0641110f6-containerDefault _2ea32c412048f708-wrapper _877f0e9008f12b8d-container"] {display: none;}

/* Hides "Get Nitro" button when pressing on a nitro emoji in chat */
[class="d5cd2da5733d0b6e-emojiSection"] [class*=-shinyButton]
{ display: none !important; }

/* Hides "Try out Nitro!" section in user settings profiles tab */
[class="_65c15724a894a2e0-premiumBackground _65c15724a894a2e0-background"] {display: none;}

/* Hide Floating Nitro Upsell in Profile Customiztion */
[class*="-floatingNitroUpsell"]{display: none !important;}

/* Hides "Unlock with Nitro" button when hovering a super reaction */
[class^="burstReactionTooltipPrompt_"] {display: none;}

/* Hide Super Reactions button toggle in reaction picker */
div[aria-label="Enable Super Reactions"]{display: none !important;}

/* Hides boost progress bar in servers */
ul[aria-label="Channels"] > div + div + div[class^="container_"] {display: none;}

/* Hides message size upsell in message bar */
._6c5a1559a27b6653-root._795fb60671d128c1-upsell,

/* Hides nitro icon in profile banners */
div[class^="premiumIconWrapper"] {display: none;}

/* Hides nitro upsell in user settings server profiles tab */
[class="_0f7dce48ad846f17-upsellOverlayContainer"] {display: none;}

/* Hides shop upsell in user settings profiles tab */
[class^="_8279f38edc620354-container"]:has([class^="_8279f38edc620354-artContainer"]) {display: none;}
[class^="profileBadges"][class^="profileBadges"] {flex: none;}

/* Hide Server Boosts button in guild channel list */
[class="_0d0f9ddd12a3ace3-container _0d0f9ddd12a3ace3-containerWithMargin"] {display: none;}

/* Hide Nitro button in DMs list */
[href="/store"] {display: none}
