/**
 * @name Nitroless
 * @author tw1st3dr0d3nt
 * @description Removes Discord Nitro upsells and bloat.
*/

/*                        ##################
   ====================== #   Nitroless%   # ====================== 
                          ##################                        */

/* Emoji Picker Upsells. If your using a 'free emojis' plugin or similiar you might not need these. */
[class^="premiumPromo"],                                     /* Hides a popup when pressing disabled emojis     */
[class^="upsellWrapper_"],                                   /* Hides a popup when pressing disabled stickers   */
[class^=emojiPickerListWrapper_] [class^=upsellContainer_],  /* Hides a popup when scrolling emojis             */
[class^="categoryItemLockIconContainer"],                    /* Hides lock icon on servers                      */
[class^="emojiLockIconContainer"]                            /* Hides lock icon on emojis (visible in servers)  */
{display: none !important;} 

[class^="nitroTopDividerContainer"]                          /* Hides the top of the garish pink nitro overlay  */
{display: none;}                                            

.categorySection_c656ac.categorySectionNitroLocked_c656ac    /* Hides body of the nitro overlay                 */
{background-color: unset !important; } 

/* Hides "Boost Server" button in server settings emoji tab */
.banner_ec75b3 {display: none;}

/* Hides "Get Nitro" button when pressing on a nitro emoji in chat */
[class^=emojiSection_] [class*=shinyButton_]
{ display: none !important; }

/* Hides "Try out Nitro!" section in user settings profiles tab */
[class*=tryItOutSection__] {display: none;}

/* Hide Floating Nitro Upsell in Profile Customiztion */
[class*="floatingNitroUpsell__"]{display: none !important;}

/* Hides "Unlock with Nitro" button when hovering a super reaction */
[class^="burstReactionTooltipPrompt_"] {display: none;}

/* Hide Super Reactions button toggle in reaction picker */
div[aria-label="Enable Super Reactions"]{display: none !important;}

/* Hides boost progress bar in servers */
ul[aria-label="Channels"] > div + div + div[class^="container_"] {display: none;}

/* Hides message size upsell in message bar */
.root__6c5a1.upsell__795fb,

/* Hides nitro icon in profile banners */
div[class^="premiumIconWrapper"] {display: none;}

/* Hides nitro upsell in user settings server profiles tab */
[class="upsellOverlayContainer__0f7dc"] {display: none;}

/* Hides shop upsell in user settings profiles tab */
[class*=premiumFeatureBannerBackground], [class^=container__8279f]:has([class^=artContainer_]) {display: none;}
[class^="profileBadges"][class^="profileBadges"] {flex: none;}

/* Makes super reactions look like normal ones */
[class*="reaction"][class*="reactionMe"] {border-color: var(--brand-experiment) !important; background-color: var(--brand-experiment-15a) !important;}
[class*="reactionCount"] {color: var(--interactive-normal) !important;}
[class*="effectsWrapper"] {display: none;}
[class^="burstGlow"], [class*="reaction_"], [class*="reaction"][class*="shakeReaction"] {
    box-shadow: none !Important; 
    background: var(--background-secondary) !important;
    animation: none;
}
[class*="hideEmoji"] {opacity: 1;}
