/**
 * @name Desktop Refresh Fixes
 * @author tw1st3dr0d3nt
 * @description Reverts or improves various elements from the new desktop refresh UI.
*/

@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}

@import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css');
:root {
    /* controls the vertical position of the window buttons */
    --vr-header-snippet-top: 0px !important;
    /* controls the space above the server list */
    --vr-header-snippet-server-padding: 16px !important;
    /* controls the space the window buttons get on the channel header, experiment around with this if you get gaps or the buttons overlap! */
    --vr-header-snippet-space: 230px !important;
    /* controls the space to the right of the window buttons, good if you are using themes like midnight which add padding to the bar */
    --vr-header-snippet-button-padding: 0 !important;
}

/* Revert User Area 
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
} */

/* Detailed Timestamp */
span[class*="timestampInline_"] time::before {
    content: attr(aria-label);
    font-size: 12px;
  }
  
  span[class*="timestampInline_"] {
    font-size: 0px !important;
  }

/* Hide nameplates */
[class*="nameplated_"] > :has([src*="nameplates"]) { display: none; }

/* Remove Activity Status in member list */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* REMOVE QUICK REACT BAR */
.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
   display: none;
}