/**
 * @name Enhancements
 * @author tw1st3dr0d3nt
 * @description Improves various elements of Discord's UI.
*/

:root {
  --font-primary: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, "TwemojiColor";
}

/* Dashless channel names */
@font-face {
  font-family: "TwemojiColor";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div /* invite to channel dialog */
{ font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }

/* Channel Names Capitalized */
.name__2ea32 {
    text-transform: capitalize;
}

/* Devices but it looks good */
[class*="session_"]{
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}
[class*="sessionIcon_"]{
    color: var(--interactive-normal);
    background: transparent;
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* More space-efficient settings layout */
.sidebarRegion__23e6b,
.sidebarRegionScroller__23e6b  {flex: 0 0 auto;}

/* edited text */
[class*="timestamp_"]:not([class*="timestampInline_"],
[class*="timestampVisibleOnHover_"]) time::after {
    content: ' (' attr(aria-label) ')';
    color: var(--text-muted);
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: lowercase;
}
[class*="edited"]:not(.message-translate-indicator) {
    display: none;
}

/* Connection Issue Let Me Be */
.container_a2f514 {
  background: transparent;
  pointer-events: none;
}
.container_a2f514 .anchor_edefb8 { pointer-events: auto; }
.container_a2f514 .content_a2f514 .text_a2f514 {
  display:none;
}
.container_a2f514 .ready_a2f514 {
  position: absolute;
  bottom: 44px;
  right: 244px;
  z-index: 1;
}
.container_a2f514 img, .container_a2f514 video {
  width: 32px;
  height: 32px;
}
.container_a2f514 .problems_a2f514 {
  padding: 8px 16px;
  bottom: 18px;
  left: unset;
  right: 18px;
  width:fit-content;
  height:fit-content;
  background-color: var(--background-floating);
  border-radius: 8px;
  -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
  box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* Blur Spoilers */
.spoilerMarkdownContent__54ab5 {
    background-color: rgba(255, 255, 255, .01);
}
.obscuredTextContentInner__54ab5 {
  color: var(--text-normal)    
}
.obscuredTextContentInner__54ab5 code, .obscuredTextContentInner__54ab5 span {
  opacity: unset;
  -webkit-transition: none;
  transition: none;
}
.spoilerContent__54ab5.hidden__54ab5 .obscuredTextContentInner__54ab5 span {
  filter: blur(4px);
}

/* Extend badges background if it makes a new line */
[class^="profileBadges"][class^="profileBadges"] {
  flex: none;
}

/* User Area Icon Recolor */
.panels_c48ade .buttons__37e49 :not(defs *)[fill][fill-opacity] {
  fill: white;
}
.lottieIcon__5eb9b > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g:nth-child(2) > path {
  stroke: white;
}

/* Better Ban UI */
/* Hides the video, "Reason for Ban", the radio group, "Other", then inserts text in front of "Other" */
video.spacing__837b7 {display: none;}
.focusLock__49fc1 .content__49fc1.modalContent__837b7.thin_d125d2.scrollerBase_d125d2:has(.banReasonOtherClickable__837b7) div:nth-child(2) > h2 {display: none;} 
.animatedNode__6ba63:has(.banReasonOtherClickable__837b7) [role=radio] {display: none;}
.focusLock__49fc1 .banReasonOtherClickable__837b7 div {font-size: 0px;} 
.focusLock__49fc1 .banReasonOtherClickable__837b7 div::after {content: "Submit an optional ban reason"; font-size: 16px;} 

/* Animated Pings */
.numberBadge__2b1f5 {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
   0% {
     transform: rotate(-12deg); 
    }
   50% {
     transform: rotate(12deg) scale(1.2); 
    }
   100% {
     transform: rotate(-10deg);   
    }
}

/* Recolored New message badge */
.numberBadge__2b1f5 {
  background-color: var(--background-accent)!important;
}

/* Add "@" before Usernames */
/* User Area */
[aria-label="User area"] [class^=nameTag_] [class^=hovered_]::before,
/* Switch Accounts */
[class^=submenu_] [class^=userMenuUsername] [class^=defaultColor_]::before,
/* Profiles */
[class^=accountCard_] [class^=userDetails_] [class^=username_]::before,
:where([class^=userPopoutInner_], [class^=fullSizeOuter_], [class^=userPanelInner_]) [class^=userTagUsername_]::before,
/* Mod View */
[class^=guildSidebar_] [class^=memberNameContainer_] [class="text-md/medium_cf4812"]::before,
[class^=userProfileModalOuter_] [class^=memberNameContainer_] [class="text-md/medium_cf4812"]::before,
/* Members List */
[class^=roundedRow__] [class="text-xs/normal_cf4812"]::before,
/* Roles/Add Member */
[class^=addMemberRow_] [class*=rowLabelSubText_]::before,
/* Roles/Members */
[class^=memberRow_] [class*=userTag_]::before,
/* Emoji */
[class^=emojiRow_] [class^=colorStandard_]::before,
/* Stickers */
[class^=tiers_] [class^=user_] [class="text-xs/normal_cf4812"]::before,
/* Soundboard */
[class^=soundTable_] [class^=uploader_] [class^=defaultColor_]::before,
/* Audit Log */
[class^=auditLog_] [class^=title_] [class^=defaultColor_]::before,
/* Ban List */
[class^=bannedUser_] [class^=username_]::before,
/* Friends list */
[class^=peopleListItem_] [class^=infoSpacing_]::before,
/* Settings/My Account */
[class^=accountProfileCard_] [class^=field_]:nth-last-child(3) [class^=usernameInnerRow_]::before {
    color: var(--text-muted);
    content: "@";
}

/* Minimal Connections */
.connectionList_c7f964 {
  gap: 0px;
}
.connectionList_c7f964 .connection_c7f964 {
  max-height: 65px!important;
  overflow: hidden;
  transition: max-height 1s;
}
.connectionList_c7f964 .connection_c7f964:hover {
  max-height: 250px!important;
}

/**
  * @name Better Pickers
  * @description Makes the soundboard/emoji pickers better and less intrusive.
*/
[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]),
[class*=categorySectionNitroLocked_] [class*=emojiItem_]>img,
[class*=soundRowNitroLocked_] [class^=soundButton_] {
  filter: grayscale(1) brightness(0.75);
}

[class^=emojiLockIconContainer_],
[class^=picker_] [class^=sectionFooter_],
:is(#emoji-picker-tab-panel, [class^=picker_]) :is(
  [class^=upsellContainer_],
  [class^=nitroBottomDivider_],
  [class^=categoryItemLockIconContainer_]
) {
  display: none;
}

#emoji-picker-tab-panel [class*=categorySectionNitroLocked_],
[class^=picker_] :is(
  [class*=sectionContainerNitroLocked_],
  [class*=soundRowNitroLocked_]
) {
  background-color: transparent;
}

#emoji-picker-tab-panel [class^=closeButton_] {
  padding: 16px 16px calc(100% - 106px) calc(100% - 40px);
  margin: 0;
}
[class^=picker_] {
  >[class^=container] [class^=closeButton_] {
    padding: 16px 16px calc(420px - 106px) calc(100% - 40px);
    margin: 0;
  }

  [class^=buttonOverlayActions_] {
    padding: 0;
  }
  [class^=secondaryButton_] {
    padding: 8px;
  }
}

#emoji-picker-tab-panel, [class^=picker_] {
  [class^=nitroTopDividerShadow_],
  [class^=nitroTopDividerLower_] {
    visibility: hidden;
  }
  [class^=nitroTopDividerLock],
  [class^=nitroTopDividerLower_] {
    background: var(--background-accent);
  }
}

/* Remove grayscale on disabled emojis in reaction picker */
[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]), [class*=categorySectionNitroLocked_] [class*=emojiItem_]>img, [class*=soundRowNitroLocked_] [class^=soundButton_] {
    filter: grayscale(0) brightness(1);
}

/* Hide chat box if you have no permissions to write in the channel */
[class*=channelTextAreaDisabled] {
  display: none!important;
}
/* or if it doesn't work like because of themes: */
[class*=channelTextAreaDisabled] {
  opacity: 0!important;
  position: absolute!important;
  height: 0px!important;
  width: 0px!important;
  z-index: 0!important;
}

/* Pin page switcher to bottom of search results */
[class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]){
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}
