/**
 * @name Enhancements
 * @author tw1st3dr0d3nt
 * @description Improves various elements of Discord's UI.
*/

:root {
  --font-primary: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, "TwemojiColor";
}

/* Dashless channel names */
@font-face {
  font-family: "TwemojiColor";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div /* invite to channel dialog */
{ font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }

/* Channel Names Capitalized */
.name_d8bfb3 {
    text-transform: capitalize;
}

/* Devices but it looks good */
[class*="session_"]{
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}
[class*="sessionIcon_"]{
    color: var(--interactive-normal);
    background: transparent;
}

/* Adds @ infront of usernames and dims it down */
[class*="userTag"]:not([class*="nameTag"]) [class*="userTagUsernameBase"]:before,
[class*="info"][class*="nameTagSmall"] [class*="discriminator"]:before {
    content: "@";
}
[class*="userTag"]:not([class*="nameTag"]) [class*="userTagUsernameBase"],
[class*="info"][class*="nameTagSmall"] [class*="discriminator"] {
    color: var(--interactive-normal);
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* More space-efficient settings layout */
.sidebarRegion_c25c6d,
.sidebarRegionScroller_c25c6d {flex: 0 0 auto;}

/* edited text */
[class*="timestamp_"]:not([class*="timestampInline_"],
[class*="timestampVisibleOnHover_"]) time::after {
    content: ' (' attr(aria-label) ')';
    color: var(--text-muted);
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: lowercase;
}
[class*="edited"]:not(.message-translate-indicator) {
    display: none;
}

/* Connection Issue Let Me Be */
.container_e40c16 {
  background: transparent;
  pointer-events: none;
}
.container_e40c16 .anchor_af404b { pointer-events: auto; }
.container_e40c16 .content_e40c16 .text_e40c16 {
  display:none;
}
.container_e40c16 .ready_e40c16 {
  position: absolute;
  bottom: 44px;
  right: 244px;
  z-index: 1;
}
.container_e40c16 img, .container_e40c16 video {
  width: 32px;
  height: 32px;
}
.container_e40c16 .problems_e40c16 {
  padding: 8px 16px;
  bottom: 18px;
  left: unset;
  right: 18px;
  width:fit-content;
  height:fit-content;
  background-color: var(--background-floating);
  border-radius: 8px;
  -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
  box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* Blur Spoilers */
.spoilerMarkdownContent_a3d0f7 {
    background-color: rgba(255, 255, 255, .01);
}
.obscuredTextContentInner_a3d0f7 {
  color: var(--text-normal)    
}
.obscuredTextContentInner_a3d0f7 code, .obscuredTextContentInner_a3d0f7 span {
  opacity: unset;
  -webkit-transition: none;
  transition: none;
}
.spoilerContent_a3d0f7.hidden_a3d0f7 .obscuredTextContentInner_a3d0f7 span {
  filter: blur(4px);
}

/* Extend badges background if it makes a new line */
[class^="profileBadges"][class^="profileBadges"] {
  flex: none;
}

/* Onboarding Theme Fixes --Darker background-- */
.container_f1fd9c, .header_f1fd9c, .scrollerContainer_c6b11b .container_c2efea, .theme-dark .scrollerContainer_c6b11b, .theme-dark .emptyPage_c6b11b, .theme-dark .container_c2efea  {
  background-color: var(--home-background) !important;
}
.theme-dark .innerHeader_f1fd9c:after {
    display: none;
}

/* User Area Icon Recolor */
.panels_a4d4d9 .lottieIcon_f73ef7 :not(defs *)[fill][fill-opacity] {
  fill: white;
}
.lottieIcon_f73ef7 > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g:nth-child(2) > path {
  stroke: white;
}

/*moves vc hang status to the left*/
[class*=iconGroup]:has([class*=hangStatusIcon], [d*='M13 3a1'], [class*=gameIcon]) {
  display: flex;
  position: absolute;
  right: 101%;
}

/* Better Ban UI */
/* Hides the video, "Reason for Ban", the radio group, "Other", then inserts text in front of "Other" */
video.spacing_e6c06b {display: none;}
.focusLock_f9a4c9 .content_f9a4c9.modalContent_e6c06b.thin_c49869.scrollerBase_c49869:has(.banReasonOtherClickable_e6c06b) div:nth-child(2) > h2 {display: none;} 
.animatedNode_ae36eb:has(.banReasonOtherClickable_e6c06b) [role=radio] {display: none;}
.focusLock_f9a4c9 .banReasonOtherClickable_e6c06b div {font-size: 0px;} 
.focusLock_f9a4c9 .banReasonOtherClickable_e6c06b div::after {content: "Submit an optional ban reason"; font-size: 16px;} 

/* Unclamp User Bios */
.descriptionClamp_fc5c48:not(.headerText_d331f1 .descriptionClamp_fc5c48) {
    -webkit-line-clamp: unset;
    max-height: 112px;
    overflow-x: hidden;
    overflow-y: auto;
}
.viewFullBio_fc5c48{display: none;}

/* Prettier Search bar */
.iconContainer_effbe2, .icon_effbe2 { /* Make the Search icon match the styling of the other icons.*/
  width: 21px;
  height: 21px;
  color: var(--interactive-normal);
  transition: ease-in-out .3s;
}

.searchBar_a46bef { /*Fully Hide the search bar*/
  width: 21px;
  height: 24px;
  padding: 0;
  background: none;
  transition: ease-in-out 0.3s!important;
}

.searchBar_a46bef:hover .iconContainer_effbe2,
.searchBar_a46bef:hover .icon_effbe2,
.focused_a46bef .icon_effbe2,
.focused_a46bef .iconContainer_effbe2 { /*Hide Search Icon on hover*/
  opacity: 0;
  width: 0;
  height: 0;
}
.searchBar_a46bef:hover,
.focused_a46bef .searchBar_a46bef, .open_a46bef .searchBar_a46bef  { /*Reveal Search Bar on Hover*/
  width: 175px;
  background: var(--background-tertiary);
  border: 1px solid var(--button-outline-primary-border-hover);
}

/* Animated Pings */
.numberBadge_df8943 {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
   0% {
     transform: rotate(-12deg); 
    }
   50% {
     transform: rotate(12deg) scale(1.2); 
    }
   100% {
     transform: rotate(-10deg);   
    }
}

/* Recolored New message badge */
.numberBadge_df8943 {
  background-color: var(--background-accent)!important;
}
