/**
 * @name Enhancements
 * @author tw1st3dr0d3nt
 * @description Improves various elements of Discord's UI.
*/

:root {
  --font-primary: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, "TwemojiColor";
}

/* Dashless channel names */
@font-face {
  font-family: "TwemojiColor";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div /* invite to channel dialog */
{ font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }

/* Channel Names Capitalized */
._2ea32c412048f708-name {
    text-transform: capitalize;
}

/* Devices but it looks good */
[class*="session_"]{
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}
[class*="sessionIcon_"]{
    color: var(--interactive-normal);
    background: transparent;
}

/* More space-efficient settings layout */
._23e6b439306f125a-sidebarRegion,
._23e6b439306f125a-sidebarRegionScroller  {flex: 0 0 auto;}

/* Connection Issue Let Me Be */
.a2f5142ba8328dfd-container {
  background: transparent;
  pointer-events: none;
}
.a2f5142ba8328dfd-container .edefb8e22d63c542-anchor { pointer-events: auto; }
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-content .a2f5142ba8328dfd-text {
  display:none;
}
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-ready {
  position: absolute;
  bottom: 44px;
  right: 244px;
  z-index: 1;
}
.a2f5142ba8328dfd-container img, .a2f5142ba8328dfd-container video {
  width: 32px;
  height: 32px;
}
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-problems {
  padding: 8px 16px;
  bottom: 18px;
  left: unset;
  right: 18px;
  width:fit-content;
  height:fit-content;
  background-color: var(--background-floating);
  border-radius: 8px;
  -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
  box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* Blur Spoilers */
._299eb87491f4b6d1-spoilerMarkdownContent {
    background-color: rgba(255, 255, 255, .01);
}
._299eb87491f4b6d1-obscuredTextContentInner {
  color: var(--text-normal)    
}
._299eb87491f4b6d1-obscuredTextContentInner code, ._299eb87491f4b6d1-obscuredTextContentInner span {
  opacity: unset;
  -webkit-transition: none;
  transition: none;
}
._299eb87491f4b6d1-spoilerContent._299eb87491f4b6d1-hidden ._299eb87491f4b6d1-obscuredTextContentInner span {
  filter: blur(4px);
}

/* Extend badges background if it makes a new line */
[class^="profileBadges"][class^="profileBadges"] {
  flex: none;
}

/* Better Ban UI */
/* Hides the video, "Reason for Ban", the radio group, "Other", then inserts text in front of "Other" */
video.spacing__837b7 {display: none;}
._49fc18ba07c5025f-focusLock ._49fc18ba07c5025f-content.modalContent__837b7.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase:has(.banReasonOtherClickable__837b7) div:nth-child(2) > h2 {display: none;} 
._6ba63b0447df0219-animatedNode:has(.banReasonOtherClickable__837b7) [role=radio] {display: none;}
._49fc18ba07c5025f-focusLock .banReasonOtherClickable__837b7 div {font-size: 0px;} 
._49fc18ba07c5025f-focusLock .banReasonOtherClickable__837b7 div::after {content: "Submit an optional ban reason"; font-size: 16px;} 

/* Animated Pings */
._2b1f52e43a8f1c02-numberBadge {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
   0% {
     transform: rotate(-12deg); 
    }
   50% {
     transform: rotate(12deg) scale(1.2); 
    }
   100% {
     transform: rotate(-10deg);   
    }
}

/* Animate messages on hover */
[data-list-item-id*="message"],
[class*="messageListItem"],
[id*="message-"],
li[class*="messageListItem"] {
    position: relative;
    border-radius: 8px;
    transition: all 0.3s ease;
}
[data-list-item-id*="message"]:hover,
[class*="messageListItem"]:hover,
li[class*="messageListItem"]:hover {
    transform: translateX(6px);
}

/* Recolored New message badge */
._2b1f52e43a8f1c02-numberBadge {
  background-color: var(--background-accent)!important;
}

/* Add "@" before Usernames */
/* User Area */
[aria-label="User area"] [class^=nameTag_] [class^=hovered_]::before,
/* Switch Accounts */
[class^=submenu_] [class^=userMenuUsername] [class^=defaultColor_]::before,
/* Profiles */
[class^=accountCard_] [class^=userDetails_] [class^=username_]::before,
:where([class^=userPopoutInner_], [class^=fullSizeOuter_], [class^=userPanelInner_]) [class^=userTagUsername_]::before,
/* Mod View */
[class^=guildSidebar_] [class^=memberNameContainer_] [class="cf48127484dbde85-text-md/medium"]::before,
[class^=userProfileModalOuter_] [class^=memberNameContainer_] [class="cf48127484dbde85-text-md/medium"]::before,
/* Members List */
[class^=roundedRow__] [class="cf48127484dbde85-text-xs/normal"]::before,
/* Roles/Add Member */
[class^=addMemberRow_] [class*=rowLabelSubText_]::before,
/* Roles/Members */
[class^=memberRow_] [class*=userTag_]::before,
/* Emoji */
[class^=emojiRow_] [class^=colorStandard_]::before,
/* Stickers */
[class^=tiers_] [class^=user_] [class="cf48127484dbde85-text-xs/normal"]::before,
/* Soundboard */
[class^=soundTable_] [class^=uploader_] [class^=defaultColor_]::before,
/* Audit Log */
[class^=auditLog_] [class^=title_] [class^=defaultColor_]::before,
/* Ban List */
[class^=bannedUser_] [class^=username_]::before,
/* Friends list */
[class^=peopleListItem_] [class^=infoSpacing_]::before,
/* Settings/My Account */
[class^=accountProfileCard_] [class^=field_]:nth-last-child(3) [class^=usernameInnerRow_]::before {
    color: var(--text-muted);
    content: "@";
}

/* Bring back the @ Sign */
._63ed30c16c7151f2-userTag:not(:has(._63ed30c16c7151f2-userTagDiscriminator), ._63ed30c16c7151f2-pronounsText)::before {
    content: "@";
    color: var(--text-muted);
    text-decoration: none;
}

/* Minimal Connections */
.c7f964e7e0fc8b47-connectionList {
  gap: 0px;
}
.c7f964e7e0fc8b47-connectionList .c7f964e7e0fc8b47-connection {
  max-height: 65px!important;
  overflow: hidden;
  transition: max-height 1s;
}
.c7f964e7e0fc8b47-connectionList .c7f964e7e0fc8b47-connection:hover {
  max-height: 250px!important;
}

/**
  * @name Better Pickers
  * @description Makes the soundboard/emoji pickers better and less intrusive.
*/
[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]),
[class*=categorySectionNitroLocked_] [class*=emojiItem_]>img,
[class*=soundRowNitroLocked_] [class^=soundButton_] {
  filter: grayscale(1) brightness(0.75);
}

[class^=emojiLockIconContainer_],
[class^=picker_] [class^=sectionFooter_],
:is(#emoji-picker-tab-panel, [class^=picker_]) :is(
  [class^=upsellContainer_],
  [class^=nitroBottomDivider_],
  [class^=categoryItemLockIconContainer_]
) {
  display: none;
}

#emoji-picker-tab-panel [class*=categorySectionNitroLocked_],
[class^=picker_] :is(
  [class*=sectionContainerNitroLocked_],
  [class*=soundRowNitroLocked_]
) {
  background-color: transparent;
}

#emoji-picker-tab-panel [class^=closeButton_] {
  padding: 16px 16px calc(100% - 106px) calc(100% - 40px);
  margin: 0;
}
[class^=picker_] {
  >[class^=container] [class^=closeButton_] {
    padding: 16px 16px calc(420px - 106px) calc(100% - 40px);
    margin: 0;
  }

  [class^=buttonOverlayActions_] {
    padding: 0;
  }
  [class^=secondaryButton_] {
    padding: 8px;
  }
}

#emoji-picker-tab-panel, [class^=picker_] {
  [class^=nitroTopDividerShadow_],
  [class^=nitroTopDividerLower_] {
    visibility: hidden;
  }
  [class^=nitroTopDividerLock],
  [class^=nitroTopDividerLower_] {
    background: var(--background-accent);
  }
}

/* Remove grayscale on disabled emojis in reaction picker */
[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]), [class*=categorySectionNitroLocked_] [class*=emojiItem_]>img, [class*=soundRowNitroLocked_] [class^=soundButton_] {
    filter: grayscale(0) brightness(1);
}

/* Hide chat box if you have no permissions to write in the channel */
[class*=channelTextAreaDisabled] {
  display: none!important;
}
/* or if it doesn't work like because of themes: */
[class*=channelTextAreaDisabled] {
  opacity: 0!important;
  position: absolute!important;
  height: 0px!important;
  width: 0px!important;
  z-index: 0!important;
}

/* Pin page switcher to bottom of search results */
[class^="searchResultsWrap_"] [class^=container_]:has([class^=pageControlContainer_]){
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}

/* Changes ReadAllNotifications button to look like the DMs one */
.vc-ranb-button {
  margin: 0 16px;
  width: calc(100% - 32px);
  height: 40px !important;
  min-height: 40px;
  max-height: 40px !important;
  padding: 2px;
  background-color: var(--background-surface-higher);
  border: none;
  border-radius: 12px;

  ._201d5e8a3c09670a-contents {
    font-size: 0px;
  }

  ._201d5e8a3c09670a-contents::after {
    content: "asdfg";
    font-size: 18px;
    width: 16px;
    height: 16px;
    position: relative;
    color: transparent;
    top: 2.5px;
    left: 6px;
    background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22_9293f6b2fc12398a-icon%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23D8D8DB%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: var(--brand-500);

    ._201d5e8a3c09670a-contents::after {
      background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22_9293f6b2fc12398a-icon%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    }
  }
}

/* SImple channel/settings/dms/member list hover animations */
._2ea32c412048f708-wrapper ._2ea32c412048f708-link /* channels */,
._91a9d7f7e5248a56-container /* members */,
._972a0d22c8afa7f0-channel /* dms */,
.aa8da23faa27393c-side .aa8da23faa27393c-item /* settings */ {
  transition: margin-left 0.2s ease;
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link,
.aa8da23faa27393c-side .aa8da23faa27393c-item:hover {
  margin-left: 10px;
}
._91a9d7f7e5248a56-container:hover,
._972a0d22c8afa7f0-channel:hover {
  margin-left: 18px;
}

/* round messages on hovering, replies, and mentions */
:root {
  --round-messages-radius: 8px;
}
[class*=cozyMessage] {
    margin-left: 4px;
    border-radius: var(--round-messages-radius);
}
[class*=cozyMessage]:before {
  width: 4px;
  height: calc(100% - 1.5*var(--round-messages-radius));
  align-self: center;
  border-radius: 2px;
  margin-left: calc(0.5*var(--round-messages-radius));
}

/* Better Bot Forms */
form>div._49fc18ba07c5025f-focusLock>div._49fc18ba07c5025f-rootWithShadow {
    width: var(--modal-width-medium);

    ._49fc18ba07c5025f-header {
        padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
        margin-bottom: var(--modal-vertical-padding);
        border-bottom: var(--border-normal) solid 1px;

        .colorHeaderPrimary_c9946a {
            text-align: center;
            font-weight: var(--font-weight-semibold);
            flex-grow: 1;
        }

        .closeButton_e858dd {
            top: unset;
            right: var(--modal-horizontal-padding);
            margin-bottom: auto;
            margin-top: auto;

            ._201d5e8a3c09670a-contents {
                height: 24px;
            }
        }
    }

    .e858dd8956328358-submissionWarning {
        display: none;
    }

    ._1b11bd49fe2d59c9-formItem .b717a15017b82443-eyebrow {
        margin-bottom: 4px;

        .b717a15017b82443-errorMessage {
            color: var(--text-danger);
        }
    }

    ._0ed4fc708cdbac0d-input._0ed4fc708cdbac0d-error:focus {
        color: var(--text-normal);
        transition-property0: border-color, color;
    }

    ._49fc18ba07c5025f-footer {
        justify-content: space-between;
    }
}

/* PinDMs Fixes */
.vc-pindms-section-container {
    text-transform: unset !important;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    /* V Uncomment this line to use the default category color. */
    color: var(--channels-default) !important;
}

/* Better Image Spoilers */
:root {
    --spoiler-blur-hover: 8px;
}
[class*="attachmentContainer_"][class*="spoilerContent_"] {
    background-color: unset;
    &[class*="hiddenSpoiler_"] {
        > [class*="spoilerWarning_"] {
            transition: opacity 50ms ease;
        }
        [class*="imageContent_"] {
            filter: none !important;
            [class*="imageWrapper_"] > [class*="clickableWrapper_"] {
                filter: blur(var(--custom-message-attachment-spoiler-blur-radius));
                transition: filter 80ms ease-out;
            }
        }
        &:hover {
            > [class*="spoilerWarning_"] {
                opacity: 0.2;
            }
            [class*="imageWrapper_"] > [class*="clickableWrapper_"] {
                filter: blur(var(--spoiler-blur-hover));
            }
        }
    }
}

/* Colored Embeds */
._623de82e76ad7f82-embedFull {
    overflow: hidden;

    &::before {
        top: -1px;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        max-width: 100%;
        height: calc(100% + 2px);
        box-sizing: border-box !important;
        opacity: 0.25;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
    }

    ._623de82e76ad7f82-gridContainer {
        z-index: 2;
    }
}
