/**
 * @name Enhancements
 * @author tw1st3dr0d3nt
 * @description Improves various elements of Discord's UI.
*/

:root {
  --font-primary: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, "TwemojiColor";
}

/* Dashless channel names */
@font-face {
  font-family: "TwemojiColor";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div /* invite to channel dialog */
{ font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }

/* Channel Names Capitalized */
._2ea32c412048f708-name {
    text-transform: capitalize;
}

/* More space-efficient settings layout */
._23e6b439306f125a-sidebarRegion,
._23e6b439306f125a-sidebarRegionScroller  {flex: 0 0 auto;}

/* Connection Issue Let Me Be */
.a2f5142ba8328dfd-container {
  background: transparent;
  pointer-events: none;
}
.a2f5142ba8328dfd-container .edefb8e22d63c542-anchor { pointer-events: auto; }
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-content .a2f5142ba8328dfd-text {
  display:none;
}
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-ready {
  position: absolute;
  bottom: 44px;
  right: 244px;
  z-index: 1;
}
.a2f5142ba8328dfd-container img, .a2f5142ba8328dfd-container video {
  width: 32px;
  height: 32px;
}
.a2f5142ba8328dfd-container .a2f5142ba8328dfd-problems {
  padding: 8px 16px;
  bottom: 18px;
  left: unset;
  right: 18px;
  width:fit-content;
  height:fit-content;
  background-color: var(--background-floating);
  border-radius: 8px;
  -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
  box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

/* Blur Spoilers */
._299eb87491f4b6d1-spoilerMarkdownContent {
    background-color: rgba(255, 255, 255, .01);
}
._299eb87491f4b6d1-obscuredTextContentInner {
  color: var(--text-normal)    
}
._299eb87491f4b6d1-obscuredTextContentInner code, ._299eb87491f4b6d1-obscuredTextContentInner span {
  opacity: unset;
  -webkit-transition: none;
  transition: none;
}
._299eb87491f4b6d1-spoilerContent._299eb87491f4b6d1-hidden ._299eb87491f4b6d1-obscuredTextContentInner span {
  filter: blur(4px);
}

/* Extend badges background if it makes a new line */
[class^="profileBadges"][class^="profileBadges"] {
  flex: none;
}

/* Animated Pings */
._2b1f52e43a8f1c02-numberBadge {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
   0% {
     transform: rotate(-12deg); 
    }
   50% {
     transform: rotate(12deg) scale(1.2); 
    }
   100% {
     transform: rotate(-10deg);   
    }
}

/* Animate messages on hover */
[data-list-item-id*="message"],
[class*="messageListItem"],
[id*="message-"],
li[class*="messageListItem"] {
    position: relative;
    border-radius: 8px;
    transition: all 0.3s ease;
}
[data-list-item-id*="message"]:hover,
[class*="messageListItem"]:hover,
li[class*="messageListItem"]:hover {
    transform: translateX(6px);
}

/* Recolored New message badge */
._2b1f52e43a8f1c02-numberBadge {
  background-color: var(--background-accent)!important;
}

/* Bring back the @ Sign */
._63ed30c16c7151f2-userTag:not(:has(._63ed30c16c7151f2-userTagDiscriminator), ._63ed30c16c7151f2-pronounsText)::before {
    content: "@";
    color: var(--text-muted);
    text-decoration: none;
}

/* Hide chat box if you have no permissions to write in the channel */
[class*=channelTextAreaDisabled] {
  display: none!important;
}
/* or if it doesn't work like because of themes: */
[class*=channelTextAreaDisabled] {
  opacity: 0!important;
  position: absolute!important;
  height: 0px!important;
  width: 0px!important;
  z-index: 0!important;
}

/* SImple channel/settings/dms/member list hover animations */
._2ea32c412048f708-wrapper ._2ea32c412048f708-link /* channels */,
._91a9d7f7e5248a56-container /* members */,
._972a0d22c8afa7f0-channel /* dms */,
.aa8da23faa27393c-side .aa8da23faa27393c-item /* settings */ {
  transition: margin-left 0.2s ease;
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link,
.aa8da23faa27393c-side .aa8da23faa27393c-item:hover {
  margin-left: 10px;
}
._91a9d7f7e5248a56-container:hover,
._972a0d22c8afa7f0-channel:hover {
  margin-left: 18px;
}

/* round messages on hovering, replies, and mentions */
:root {
  --round-messages-radius: 8px;
}
[class*="_5126c0cd07f243a0-cozyMessage"] {
    margin-left: 4px;
    border-radius: var(--round-messages-radius);
}
[class*="_5126c0cd07f243a0-cozyMessage"]:before {
  width: 4px;
  height: calc(100% - 1.5*var(--round-messages-radius));
  align-self: center;
  border-radius: 2px;
  margin-left: calc(0.5*var(--round-messages-radius));
}

/* Better Bot Forms */
form>div._49fc18ba07c5025f-focusLock>div._49fc18ba07c5025f-rootWithShadow {
    width: var(--modal-width-medium);

    ._49fc18ba07c5025f-header {
        padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
        margin-bottom: var(--modal-vertical-padding);
        border-bottom: var(--border-normal) solid 1px;

        .colorHeaderPrimary_c9946a {
            text-align: center;
            font-weight: var(--font-weight-semibold);
            flex-grow: 1;
        }

        .closeButton_e858dd {
            top: unset;
            right: var(--modal-horizontal-padding);
            margin-bottom: auto;
            margin-top: auto;

            ._201d5e8a3c09670a-contents {
                height: 24px;
            }
        }
    }

    .e858dd8956328358-submissionWarning {
        display: none;
    }

    ._1b11bd49fe2d59c9-formItem .b717a15017b82443-eyebrow {
        margin-bottom: 4px;

        .b717a15017b82443-errorMessage {
            color: var(--text-danger);
        }
    }

    ._0ed4fc708cdbac0d-input._0ed4fc708cdbac0d-error:focus {
        color: var(--text-normal);
        transition-property0: border-color, color;
    }

    ._49fc18ba07c5025f-footer {
        justify-content: space-between;
    }
}

/* PinDMs Fixes */
.vc-pindms-section-container {
    text-transform: unset !important;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    /* V Uncomment this line to use the default category color. */
    color: var(--channels-default) !important;
}y

/* Colored Embeds */
._623de82e76ad7f82-embedFull {
    overflow: hidden;

    &::before {
        top: -1px;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        max-width: 100%;
        height: calc(100% + 2px);
        box-sizing: border-box !important;
        opacity: 0.25;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
    }

    ._623de82e76ad7f82-gridContainer {
        z-index: 2;
    }
}

/*                        ##########################
   ====================== #   Improved User Area   # ====================== 
                          ##########################                        */

/* --Improved User Area-- */
/* Make both the username and status message visible at all times. */
._37e49614b9f110a9-container ._0263c8321829b3e8-hovered, ._0263c8321829b3e8-hoverRoll._0263c8321829b3e8-forceHover:not(._0263c8321829b3e8-disabled) ._0263c8321829b3e8-default{
  opacity: 1!important;
  transform: none;
}
/* Adds an @ to the username. Discord, for the love of god, just add this yourself already. */
._37e49614b9f110a9-container ._0263c8321829b3e8-hovered::before{
  content: "@";
}
/* Move the custom Status message down so that it doesnt overlap with the Username */
.d79086a85aac1823-container{
  margin-top: 15px;
  opacity: 1!important;
  transform: none!important;
}
/* Credit to @thecommieaxolotl for this code. */
/* --Hides User Buttons until Hover-- */
/* Hide mute and deafen buttons */
._5e434347c823b592-panels > ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons > :not(:nth-last-child(2)) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.3s ease-in-out;
}
/* Reveal mute and Deafen buttons when settings button is hovered */
._5e434347c823b592-panels > ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons:hover > :not(:nth-last-child(2)) {
  opacity: 100% !important;
  width: 32px;
}
/* Resize and move the profile button to take up all the space it can to look clean. */
._37e49614b9f110a9-avatarWrapper{
  transition: all 0.3s ease-in-out;
  width: 100%!important;
  margin-left: -10px;
  height: 53px;
  border-radius: 0!important;
}
/* Move the avatar back to the right a bit to look clean. */
._37e49614b9f110a9-avatarWrapper ._37e49614b9f110a9-avatar{
  margin-left: 10px;
}